body {
	text-align: center;
}

.main {
	width: 961px;
	height: 631px;
	margin: 0px auto;
	display: block;
	background: url(../images/bg_hand_xinxi.png) no-repeat;
	position: relative;
	top: -15px;
}

.01 {
	*position: relative;
	*top: -4px;
	width: 961px;
	height: 631px;
	margin-top: 0px;
	display: block;
}

.login_input_info {
	width: 450px;
	height: 38px;
	line-height: 38px;
	margin-left: 10px;
	border: 0px;
	margin-bottom: 10px;
	background-color: #e76049;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold
}

.login_input {
	width: 270px;
	height: 28px;
	border: 0px;
	background-color: #f1f1f1;
	font-size: 16px;
	color: #999999
}

.text_foot {
	font-size: 20px;
	color: #e1e1e1;
	font-weight: bold;
	line-height: 25px;
}

.list {
	font-size: 18px;
	cursor: pointer;
	color: #e2e2e2;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
}

.list:hover {
	background: url(../images/bg_list.png) repeat
}

.list img {
	margin-right: 22px;
	vertical-align: middle
}

.list_h {
	font-size: 18px;
	cursor: pointer;
	color: #e2e2e2;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	background: url(../images/bg_list.png) repeat
}

.list_h img {
	margin-right: 22px;
	vertical-align: middle
}

.infr_instroy {
	font-size: 18px;
	width: 300px;
	color: #90a5c1;
	font-weight: bold;
	position: absolute;
	top: 85px;
}

.tab_info td {
	border: 2px solid #ffffff;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center
}

.qiu li {
	width: 205px;
	height: 147px;
	list-style: none;
	float: left;
	background: url(../images/add.png) no-repeat;
	margin-right: 8px;
	margin-left: 10px;
	margin-bottom: 20px;
	*margin-bottom: 5px;
}

.name span {
	float: left;
	width: 100px;
	margin-left: 2px;
}

.name {
	font-size: 14px;
	position: relative;
	top: -13px;
	*top: -20px;
	float: left;
	font-weight: bold;
	color: #a9bfdb;
	line-height: 22px;
}

.name img {
	float: right;
	margin-top: 1px;
}

#position {
	position: relative;
	top: -124px;
	right: -190px;
}

.text_area {
	border: 0px;
	float: left;
	width: 467px;
	height: 65px;
	background: #eaedf1
}

.top_xinxi {
	height: 250px;
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 10px;
	margin-bottom: 14px;
	width: 710px;
	padding-right: 8px;
	background: url(../images/bg_line.png) center repeat-y;
}

.left_top_xinxi {
	width: 360px;
	background: url(../images/question1.png) right top no-repeat;
	margin-left: 17px;
}

.left_top_xinxi2 {
	width: 360px;
	background: url(../images/question2.png) left top no-repeat;
	margin-left: 17px;
}

.right_top_xinxi {
	width: 315px;
	margin-left: 320px;
}

.top_xinxi_replay {
	width: 304px;
	color: #4d4d4d;
	font-size: 18px;
	font-weight: bold;
	line-height: 33px;
	height: 33px;
	background: url(../images/top_replay_xinxi.png) no-repeat
}

.top_xinxi_replay2 {
	width: 304px;
	color: #4d4d4d;
	margin-left: 58px;
	font-size: 18px;
	font-weight: bold;
	line-height: 33px;
	height: 33px;
	background: url(../images/top_replay_xinxi2.png) no-repeat
}

.middle_xinxi_replay {
	width: 292px;
	color: #4d4d4d;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	background: url(../images/middle_replay_xinxi2.png) repeat-y
}

.middle_xinxi_replay2 {
	width: 293px;
	margin-left: 69px;
	color: #4d4d4d;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	background: url(../images/middle_replay_xinxi3.png) repeat-y
}

.bottom_xinxi_replay {
	width: 304px;
	color: #4d4d4d;
	font-size: 18px;
	font-weight: bold;
	height: 15px;
	background: url(../images/bottom_replay_xinxi.png) no-repeat
}

.bottom_xinxi_replay2 {
	width: 304px;
	margin-left: 69px;
	color: #4d4d4d;
	font-size: 18px;
	font-weight: bold;
	height: 15px;
	background: url(../images/bottom_replay_xinxi2.png) no-repeat
}

.replay_text {
	width: 718px;
	height: 240px;
}

.replay_close {
	margin-left: 702px;
	position: relative;
	top: -1px;
	margin-bottom: 2px;
}

.img_replay {
	float: left;
	margin-left: 40px;
}

.icon_replay {
	width: 122px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	font-size: 18px;
	color: #515151;
	font-weight: bold;
	background: url(../images/button.png) center center no-repeat
}

.content_replay {
	color: #eaedf1;
	font-size: 18px;
	font-weight: bold;
}

.content_shoutong {
	margin-left: 51px;
	margin-top: 4px;
}